
  
 
  
  
  
  .container {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95vw;
  }
  
  
  

 

  .nftButton {
    cursor: pointer;
    display: inline-flex;
    appearance: none;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    white-space: nowrap;
    vertical-align: middle;
    outline: 2px solid transparent;
    outline-offset: 2px;
    line-height: 1.2;
    font-weight: 800;
    transition-property: background-color, border-color, color, fill, stroke,
      opacity, box-shadow, transform;
    transition-duration: 200ms;
    height: 2rem;
    min-width: 3rem;
    font-size: 1rem;
    background: #e5e5ea;
    background-image: linear-gradient(to left, #AA3A38 0%, #2F7336 101.52%);
    color: #fff;
    width: 93%;
    text-align: center;
    border-radius: 9px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
  }
  
  .nftButton:hover {
    opacity: 0.95;
    background-image: linear-gradient(to left, #2F7336 0%, #AA3A38 101.52%);
    transform: scale(1.1)
  }

  .nftPrice {
    cursor: pointer;
    display: inline-flex;
    appearance: none;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    white-space: nowrap;
    vertical-align: middle;
    outline: 2px solid transparent;
    outline-offset: 2px;
    line-height: 1.2;
    font-weight: 600;
    transition-property: background-color, border-color, color, fill, stroke,
      opacity, box-shadow, transform;
    transition-duration: 200ms;
    height: 2rem;
    min-width: 3rem;
    font-size: 1rem;
    background: #e5e5ea;
    background-image: linear-gradient(to left, #AA3A38 0%, #2F7336 101.52%);
    color: #fff;
    width: 93%;
    text-align: center;
    border-radius: 9px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
  }

  .nftPrice:hover {
    opacity: 0.95;
    background-image: linear-gradient(to left, #2F7336 0%, #AA3A38 101.52%);
    transform: scale(1.1)
  }

  .nftName {
    cursor: pointer;
    display: inline-flex;
    appearance: none;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    white-space: nowrap;
    vertical-align: middle;
    outline: 2px solid transparent;
    outline-offset: 2px;
    line-height: 1.2;
    font-weight: 800;
    transition-property: background-color, border-color, color, fill, stroke,
      opacity, box-shadow, transform;
    transition-duration: 200ms;
    height: 2rem;
    min-width: 3rem;
    font-size: 1.125rem;
    background: #e5e5ea;
    background-image: linear-gradient(to left, #AA3A38 0%, #2F7336 101.52%);
    color: #fff;
    width: 93%;
    text-align: center;
    border-radius: 9px;
    padding: 0px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
  }

  .nftName:hover {
    opacity: 0.95;
    background-image: linear-gradient(to left, #2F7336 0%, #AA3A38 101.52%);
    transform: scale(1.1)
  }

 

  
  .h1 {
    margin-bottom: 0px;
  }
  
 
  
  .nameContainer {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .name {
    font-size: 1.25rem;
    color: rgb(248, 250, 248);
    text-decoration: none;
    @extend %d-inline-block;
    background-image: $gradient-blue;
    padding-inline: 2.5rem;
  }

  .ybart {
    margin-top: 0px;
    margin-bottom: 2px;
    padding: 12px;
  }

  .ybart:hover {
    transform: scale(1.04)
  }

  
 

  
  .listingGrid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 95vw;
    gap: 1%;
    max-width: 1800px;
  }
  
  .listingShortView {
    border-radius: 9px;
    border: rgba(25, 212, 90, 0.288) 3px solid;
    width: 22%;
    margin-top: 8px;
    cursor: cell;
    background-color: #081a02;
  }

  .listingShortView:hover {
    opacity: 0.9;
    transform: scale(1.015)
  }


  /* On Mobile, make listingShortView 49% */
  @media screen and (max-width: 1200px) {
    .listingShortView {
      width: 49%;
    }
  }

  @media screen and (max-width: 800px) {
    .listingShortView {
      width: 49%;
    }
  }
  
 
  

  

  
 
  
  /* On Mobile, change .listingContainer to be stacked vertically */
  @media screen and (max-width: 900px) {
    .listingContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .leftListing {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .rightListing {
      width: 100%;
      align-items: center;
    }
  }